body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

nav {
    height: 70px;
    padding: 0 100px;
}

nav .image-navbar {
    height: 50px;
    width: 150px;
}

nav .nav-items li {
    padding: 0 15px;
}

nav .nav-items li a {
    font-size: 18px;
    font-weight: 500;
}


nav .menu-icon,
nav .cancel-icon {
    width: 40px;
    font-size: 18px;
    cursor: pointer;
    display: none;
}

nav .menu-icon span,
nav .cancel-icon,
nav .search-icon {
    display: none;
}


.submenu li {
    width: 100%; 
}

.submenu li a {
    padding: 10px 15px; 
    display: block; 
    text-decoration: none; 
    color: white; 
}

@media (max-width: 1245px) {
    nav {
        padding: 0 50px;
    }
}

@media (max-width: 1140px) {
    nav {
        padding: 0px;
    }

    nav .logo {
        flex: 2;
        text-align: center;
    }

    nav .nav-items {
        position: fixed;
        z-index: 99;
        top: 70px;
        width: 100%;
        left: -100%;
        height: 100%;
        padding: 10px 50px 0 50px;
        text-align: center;
        background: #7890cd;
        display: inline-block;
        transition: left 0.3s ease;
    }

    nav .nav-items.active {
        left: 0px;
    }

    nav .nav-items li {
        line-height: 40px;
        margin: 30px 0;
    }

    nav .nav-items li a {
        font-size: 20px;
    }

    nav .menu-icon {
        display: block;
    }

    nav .search-icon,
    nav .menu-icon span {
        display: block;
    }

    nav .menu-icon span.hide,
    nav .search-icon.hide {
        display: none;
    }

    nav .cancel-icon.show {
        display: block;
    }
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.content header {
    font-size: 30px;
    font-weight: 700;
}

.content .text {
    font-size: 30px;
    font-weight: 700;
}

.space {
    margin: 10px 0;
}

nav .logo.space {
    color: red;
    padding: 0 5px 0 0;
}

@media (max-width: 980px) {
    nav .menu-icon,
    nav .cancel-icon,
    nav .search-icon {
        margin: 0 5px;
    }
}

@media (max-width: 350px) {
    nav .menu-icon,
    nav .cancel-icon,
    nav .search-icon {
        font-size: 16px;
    }
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content header {
    font-size: 30px;
    font-weight: 700;
}

.content .text {
    font-size: 30px;
    font-weight: 700;
}

.content .space {
    margin: 10px 0;
}

.submenu.active {
    display: block;
}

.submenu {
    display: none;
}

.submenu.active {
    display: block;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #7890cd;
    border: 1px solid #5a6ba1;
    border-radius: 5px;
    z-index: 1000;
}
.submenu-parent {
    position: relative; 
}

/* MODAL */

#login-modal .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* Le bouton de fermeture */
#close-modal {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#close-modal:hover,
#close-modal:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


